<head>
	<title> bronco hack app </title>

	<link rel='stylesheet' href="/css/home.css"></link>

	<script type="text/javascript" src="/js/jquery.js"></script>
	<script src="http://code.google.com/apis/gears/gears_init.js" type="text/javascript" charset="utf-8"></script>
	<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript"> 
		function getEntries(){
			return <%- entries %>
		}
	</script>
	<script type="text/javascript" src="/js/home.js"></script>
	<script type="text/javascript" src="/js/navigation.js"></script>
	
</head>
	<body>
		<div class='header'>
			<table class='menu'>
				<tr>
					<td><div id='report-tab' class='menuObject'> Report </div></td>
					<td><div id='map-tab' class='menuObject'> View Map </div></td>
				</tr>
			</table>
		</div>
		<div class='content'>
			<div id='report'>
				<form action='/report' method='POST' class='reportForm'>
					<div class='reportType'>
						Select a report type:<br>
						<select autofocus = 'true' name="reportType" required>
							<option value="Graffiti">Graffiti</option>
							<option value="Damage">Damage</option>
						</select> <br>
					</div>
					<div class='description'>
						Description: (optional) <br>
						<textarea id="description" name="description"></textarea> <br>
					</div>
					<div class='location'>
						<input type="checkbox" id="locationCheckbox" name="locationOption" value="y" checked>Use Current Location <br>
						<div id="reportMap_canvas"></div>
						<input type="hidden" name = "location" id="location" value="">
					</div>
					<div class='image'>
						<input type="file" name="image" accept="image/*" required> <br>
					</div>
					<div class='submission'>
						<input type="checkbox" name="updatesOption" value="y">Recieve Updates about this Report
						<input type="submit">
					</div>
				</form>
			</div>
			<div id="map_canvas"></div>
			<div id="pin_info">
				<b>Report Type: </b>
					<p id="type"></p><br>
				<b>Times Reported: </b>
					<p id="count"><p><br>
				<div id="sliding_info">
					<b>Description: </b>
						<p id="descr"></p><br>
					<b>Date Submitted: </b>
						<p id="date"></p><br>
					<img id="pic" src="">
				</div>
			</div>
		</div>
