<head>
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<title> bronco hack app </title>

	<link rel='stylesheet' media="(min-width: 500px)" href="/css/desktopHome.css"></link>
	<link rel='stylesheet' media="(max-width: 499px)" href="/css/mobileHome.css"></link>
	<link rel='stylesheet' media="(min-width: 500px)" href="/css/desktopFormStructure.css"></link>
	<link rel='stylesheet' media="(max-width: 499px)" href="/css/mobileFormStructure.css"></link>

	<script type="text/javascript" src="/js/jquery.js"></script>
	<script src="http://code.google.com/apis/gears/gears_init.js" type="text/javascript" charset="utf-8"></script>
	<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript"> 
		function getEntries(){
			return <%- entries %>
		}
		function getUser(){
			return '<%=user %>'
		}
		function getPermission(){
			return '<%=permissionLevel %>'
		}
	</script>
	<script type="text/javascript" src="/js/pinInfo.js"></script>
	<script type="text/javascript" src="/js/home.js"></script>
	<script type="text/javascript" src="/js/navigation.js"></script>
	
</head>
	<body>
		<div class='backpane'></div>
		<div class='content'>
			<div id='report'>
				<form action='/report' method='POST' class='reportForm' enctype="multipart/form-data">
					<div class='reportHeader'>
						<h1> VandalFree </h1>
						<h2> Report vandalism to improve our community! </h2>
					</div>
					<div class='report-item'>
						Report To:
						<select autofocus = 'true' name="reportType" required>
							<option value=""></option>
							<option value="police">Police</option>
							<option value="earthquakes">San Jose Earthquakes</option>
						</select> <br>
					</div>
					<div class='report-item'>
						Description: (optional) <br>
						<textarea id="description" name="description"></textarea> <br>
					</div>
					<div class='report-item'>
						Add a Picture:<br>
						<input type="file" id="image" name="image" accept="image/*" required> <br>
					</div>
					<div class='report-item'>
						<input type="checkbox" id="locationCheckbox" name="locationOption" onClick="useCurrentLocation()" value="y" checked>Use Current Location <br>
						<div id="reportMap_canvas"></div>
						<input type="hidden" name = "location" id="location" value="">
					</div>
					<div class='report-item'>
						<input type="checkbox" name="updatesOption" value="y">Recieve Updates about this Report
						<br>
						<br>
						<input type="submit">
					</div>
				</form>
			</div>
			<div id="map">
				<div id="map_canvas"></div>
				<div id="pin_info">
					<div id="info_close"><h>close</h></div>
					<b>Report Type: </b><br>
						<h id="type"></h><br>
					<b>Status: </b><br>
						<h id="status"></h><br>
					<b>Nearest Address: </b><br>
						<h id="address"></h><br>
					<b>Times Reported: </b><br>
						<h id="count"></h><br>
					<div id="sliding_info">
						<b>Description: </b><br>
							<h id="descr"></h><br>
						<b>Date Submitted: </b><br>
							<h id="date"></h><br><br>
						<img id="pic" src="">
					</div>
					<button id='info_back' class='nav-button'>Back</button>
					<button id='info_next' class='nav-button'>Next</button>
					<div id='changeStatus'></div>
				</div>
			</div>			
		</div>
		<div class='header'>
			<div id='login'>
				<button id="login-button"> login </button>
				<br>
				<h> you are not logged in </h>
			</div>
			<table class='menu'>
				<tr>
					<td>
						<div id='report-tab' class='menuObject'> 
							<div class='tab-text'> Submit a Report </div>
						</div>
					</td>
					<td>
						<div id='map-tab' class='menuObject'> 
							<div class='tab-text'> View Map </div>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<div id='login-form'>
			<div class='mask'></div>
			<div class='form-body'>
				<form id='input-form' action="/login" method="POST">
					<h1> LOGIN </h1>
					<input type='email' name='username'></input>
					<input type='password' name='password'></input>
					<br>
				</form>
				<input form='input-form' type='submit' value='login'></input>
				<button id='login-cancel'> cancel </button>
			</div>
		</div>
