@font-face {
  font-family: quicksand;
  src: url("/fonts/Quicksand-Regular.otf");
}
body{
	overflow: hidden;
	background-color: rgb(170,170,170);
}
.backpane{
	position: fixed;
	top: 0;
	left: 15%;
	
	width: 70%;
	height: 100%;
	background-color: rgb(240,240,240);
	z-index: -1;

	box-shadow: 0px 0px 10px;

	-webkit-transition: 0.2s;
	   -moz-transition: 0.2s;
	    -ms-transition: 0.2s;
	     -o-transition: 0.2s;
	        transition: 0.2s;
}
.header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 10%;

	padding: 0px;
	border-bottom: 2px solid;
	box-shadow: 0px 1px 30px;

	background-color: white;
}
#login{
	position: absolute;
	top: 10%;
	right: 20px;
}
.menu{
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	height: 100%;

	text-align: center;

	padding: 0px;
	border-collapse: collapse;

	z-index: 2;
}
td{
	width: 50%;
	padding: 0px;

	padding: 10 0 0 0;
}
.menuObject{
	position: relative;
	height: 100%;
	background-color: rgb(100,100,255);
	vertical-align: middle;

	margin-bottom: -2px;
	
	font-family: quicksand;

	/* Hover transition */
	-webkit-transition: 0.2s;
	   -moz-transition: 0.2s;
	    -ms-transition: 0.2s;
	     -o-transition: 0.2s;
	        transition: 0.2s;
}
.menuObject:hover{
	background-color: rgb(50,50,255);
}
#report-tab{
	border-right: 1px solid;
	border-bottom: 1px solid;
}
#map-tab{
	border-left: 1px solid;
	border-bottom: 1px solid;
}
.tab-text{
	position: absolute;
	text-align: center;
	top: 30%;
	width: 100%;
	height: 50%;
}
.content{
	position: fixed;
	top: 10%;
	left: 0;
	right: 0;
	
	margin-top: 1px;
	height: 90%;

	overflow-x: hidden;
	overflow-y: auto;

	z-index: 0;
}
#report{
	color: #0000FF;
	font-weight: bold;
	font-size: 18;

	font-family: quicksand;
	position: absolute;

	top: 5%;
	left: 15%;
	width: 70%;
	height: 100%;

	z-index: 0;

	text-align: center;

	-webkit-transition: 0.2s;
	   -moz-transition: 0.2s;
	    -ms-transition: 0.2s;
	     -o-transition: 0.2s;
	        transition: 0.2s;
}

#image{
	color: #000000;
}

h1{
	color: #1A1A1A;
	font-style: normal;

	font-family: quicksand;
}
h2{
	color: #1A1A1A;
	font-style: normal;

	font-family: quicksand;
}

#map{
	position: absolute;

	top: 5%;
	left: 100%;

	width: 90%;
	height: 90%;

	-webkit-transition: 0.2s;
	   -moz-transition: 0.2s;
	    -ms-transition: 0.2s;
	     -o-transition: 0.2s;
	        transition: 0.2s;
}
#map_canvas {
	position: absolute;

	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
	background-color: #CCC;

	box-shadow: 1px 1px 10px;

	-webkit-transition: 0.2s;
	   -moz-transition: 0.2s;
	    -ms-transition: 0.2s;
	     -o-transition: 0.2s;
	        transition: 0.2s;
}
#pin_info{
	position: absolute;
	top: 0;
	right: -100%;

	width: 20%;

	height: 100%;

	box-shadow: -2px 1px 10px;

	background-color: white;
	font-family: quicksand;

	overflow-x: hidden;
	overflow-y: auto;
	-webkit-transition: 0.2s;
	   -moz-transition: 0.2s;
	    -ms-transition: 0.2s;
	     -o-transition: 0.2s;
	        transition: 0.2s;
}
#info_close{
	position: relative;
	width: 100%;
	height: 50px;

	background-color: red;
	text-align: center;
	content: white;
}
#pic{
	width: 100%;
}
#reportMap_canvas {
	width: 100%;
	height: 0px;
	background-color: #CCC;

	-webkit-transition: 0.2s;
	   -moz-transition: 0.2s;
	    -ms-transition: 0.2s;
	     -o-transition: 0.2s;
	        transition: 0.2s;
}

#description{
	width: 100%;
	height: 50px;
}

#hr1{
	border-top: 1px dashed #000;
	border-bottom: 2px solid #252525;
	color: #fff;
	background-color: #fff;
	height: 6px;
}

hr{

	border-bottom: 2px solid #1A1A1A;
	color: #fff;
	background-color: #fff;
	height: 1px;
}
#login-form{
	position: absolute;
	top: -200%;
	left: 0;
	width: 100%;
	height: 100%;

	-webkit-transition: 0.3s;
	   -moz-transition: 0.3s;
	    -ms-transition: 0.3s;
	     -o-transition: 0.3s;
	        transition: 0.3s;
}
.mask{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-color: rgba(20,20,20,0.75)
}
.form-body{
	position: absolute;
	top: 50%;
	left: 50%;

	height: 200px;
	width: 300px;

	margin-top: -100px;
	margin-left: -150px;

	text-align: center;

	background-color: white;
}