.menuObject{
	margin-bottom: -2px;
}
textarea{
	height: 100px !important;
	resize: none;
}
.report-item{
	position: relative;

	width: 100%;
	
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
}